extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head("Chat")

    .row 
      .col-12 
        .chat 
          //- .inner-head 
          //-   .inner-avatar EY 
          //-   .inner-name Em yêu
          .inner-body 
            each chat in chats
              div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                if(chat.infoUser.id != user.id)
                  .inner-name #{chat.infoUser.fullName}
                .inner-content 
                  | #{chat.content}
            //- .inner-incoming 
            //-   .inner-name Em yeu 
            //-   .inner-content 
            //-     | A oi sang nha e nha, nha e ko co ai o nha ca 
            //- .inner-outgoing 
            //-   .inner-content 
            //-     | The a? Ok e iu 
            //- .inner-incoming 
            //-   .inner-name Em yeu 
            //-   .inner-content 
            //-     | Nhanh nha nhanh nha 
            //- .inner-outgoing 
            //-   .inner-content 
            //-     | The a? Ok e iu 
            //- .inner-incoming 
            //-   .inner-name Em yeu 
            //-   .inner-content 
            //-     | Nhanh nha nhanh nha 
          .inner-foot 
            form(
              class="inner-form"
              action=""
            )
              input(
                type="text"
                placeholder="Nhập nội dung..."
                name="content"
              )
              button 
                i.fa-solid.fa-paper-plane

